body {
    background-color: #0F0D0F;
    overflow-x: hidden;
}

.gradient-animation {
    background: linear-gradient(-45deg, #eb967c, #dda0d8, #98c3d3, #aae7d9);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: ga 5s linear infinite;
}

.video-stretch {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    

}


@keyframes ga {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* @media screen and (min-width: 480px) {
    .hero-header {
      font-size: 260px;
    }

    .hero-sub-header {
        font-size: 120px;
      }
  }

  @media screen and (max-width: 479px) {
    .hero-header {
      font-size: 70px;
    }

    .hero-sub-header {
        font-size: 18px;
      }
  } */