body {
    background-color: #0F0D0F;
    overflow-x: hidden;
}

.gradient-animation {
    background: linear-gradient(-45deg, #eb967c, #dda0d8, #98c3d3, #aae7d9);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: ga 5s linear infinite;
}
@keyframes ga {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
